* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  padding: 25px;
  min-width: 320px;
  font-family: sans-serif;
}

.header {
  position: relative;
  width: 100%;
  text-align: center;
}
.header .nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}
.header .nav_bar .nav_box .desktop {
  display: none;
}
.header .nav_bar .nav_box .sign_free_trial {
  display: none;
}
.header .header_title {
  margin-bottom: 15px;
  color: rgb(24, 59, 86);
  font-size: 32px;
  font-weight: 400;
}
.header .header_text {
  line-height: 28px;
}

.nav_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav_box .menu_button {
  height: 22px;
  cursor: pointer;
}
.nav_box .menu_button .burger-line {
  width: 22px;
  background-color: rgb(58, 76, 102);
  height: 2px;
  transition: 0.3s all;
}
.nav_box .menu_button .burger-line.burger-line:nth-of-type(2) {
  margin: 5px 0;
}
.nav_box .main-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  font-size: 0;
  overflow: hidden;
  transition: 0.3s all;
  max-height: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 20%;
  z-index: 1;
}
.nav_box .main-menu .menu_button {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 17.5px 0;
  color: black;
}
.nav_box .main-menu .Free_Trial {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: black;
  width: 153px;
  height: 54px;
  color: white;
}

#check-menu:checked ~ .menu_button .burger-line:nth-of-type(2) {
  display: none;
}

#check-menu:checked ~ .menu_button .burger-line:nth-of-type(1) {
  position: relative;
  transform: rotate(45deg);
  top: 7px;
}

#check-menu:checked ~ .menu_button .burger-line:nth-of-type(3) {
  transform: rotate(-45deg);
  position: relative;
  top: 5px;
}

#check-menu:checked ~ .main-menu {
  max-height: 100vh;
  font-size: 16px;
}

.header_btn_play-icon_learn-more {
  margin-top: 20px;
  height: 38px;
  width: 255px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header_btn_play-icon_learn-more .header_btn {
  width: 105px;
  height: 37px;
  padding: 8px 12px;
  background-color: rgb(5, 42, 68);
  line-height: 22px;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}
.header_btn_play-icon_learn-more .box_learn_more {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  align-items: center;
  width: 112px;
  height: 36px;
  cursor: pointer;
}
.header_btn_play-icon_learn-more .box_learn_more .play_icon {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 15px solid rgb(5, 42, 68);
}
.header_btn_play-icon_learn-more .box_learn_more .play_icon:before {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: -1;
  top: -17px;
  right: -7px;
  border-radius: 50%;
  background-color: rgb(255, 245, 245);
}
.header_btn_play-icon_learn-more .box_learn_more .learn_more {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

@media screen and (min-width: 1080px) {
  .header .nav_bar {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 42, 68);
    border-radius: 12px;
    width: 100%;
    height: 90px;
  }
  .header .nav_bar .logo_ehya, .header .nav_bar .them_btn_night {
    display: none;
  }
  .header .nav_bar .nav_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header .nav_bar .nav_box .desktop {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  .header .nav_bar .nav_box .sign_free_trial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .header .nav_bar .nav_box .sign_free_trial .btn_sign {
    display: inline-block;
    width: 55px;
    color: white;
  }
  .header .nav_bar .nav_box .sign_free_trial .Free_Trial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 54px;
    background-color: white;
    color: black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
  }
  .header .nav_bar .nav_box .menu_button {
    color: white;
    transform: none;
  }
  .header .nav_bar .nav_box .menu_button .burger-line {
    display: none;
  }
  .header .nav_bar .nav_box .main-menu {
    position: static;
    display: flex;
    flex-direction: row;
    transition: none;
    gap: 35px;
    width: 420px;
    max-height: 90px;
    font-size: 16px;
    background-color: rgb(5, 42, 68);
  }
  .header .nav_bar .nav_box .main-menu .nav_li_right {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */

.form_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 271px;
  height: 917px;
  margin: 0 auto;
  background-color: #E8DB84;
  border-radius: 10px;
}

.form_container > h2{
  padding: 0 17px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.form_container > p{
  padding: 0 13px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.form_container > form{
  margin: 0 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 577px;
}

.FirstName_LastName, .EmailAddress_PhoneNumber{
  display: flex;
  flex-direction: column;
  height: 128px;
  justify-content: space-between;
}

.form_container > form input{
  height: 58px;
  border: none;
  border-radius: 8px;
}

.form_container > form textarea{
  height: 207px;
  border: none;
  border-radius: 8px;
  resize: none;
}

.form_container > form input::placeholder, .form_container > form textarea::placeholder{
  padding: 20px 24px;
  color: #1E1E1E;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
}

.form_container > form button{
  width: 176px;
  height: 54px;
  color: #fff;
  background-color: #052A44;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.contact_info_container{
  max-width: 320px;
  height: 356px;
  margin: 32px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.AddressAndPhone{
  width: 272px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.AddressAndPhone > h3{
  margin-bottom: 8px;
  color: #052A44;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.AddressAndPhone > span{
  display: block;
  color: #071210;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
}

.social_media{
  width: 193px;
  height: 78px;
}

.social_media > span{
  display: block;
  color: #071210;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.social_media > .icons{
  width: 133px;
  height: 33px;
  margin: 9px 30px 0 30px;
  display: flex;
  justify-content: space-between;
}

.social_media > .icons > a{
  display: block;
  width: 33px;
  height: 33px;
  position: relative;
  border: 0.5px solid #071210;
  border-radius: 50%;
}

.social_media > .icons > a > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email{
  width: 228px;
  height: 72px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #071210;
}

.email a{
  text-decoration: none;
  color: #071210;
}

.copyright{
  display: none;
}

@media screen and (min-width: 426px) {
  .form_container{
    width: 1240px;
    height: 674px;
    padding: 40px 32px;
    border-radius: 29px;
  }

  .FirstName_LastName, .EmailAddress_PhoneNumber{
    flex-direction: row;
    justify-content: center;
    height: 58px;
    gap: 12px;
  }

  .form_container > h2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
  }

  .form_container > p{
    width: 875px;
    margin: auto;
    padding: 0;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .form_container > form{
    height: 437px;
    justify-content: center;
    gap: 20px;
  }

  .form_container > form input{
    width: 432px;
  }

  .form_container > form textarea{
    width: 875px;
    margin: auto;
  }

  .contact_info_container{
    max-width: 1240px;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 80px auto;
    padding: 0;
  }

  .AddressAndPhone{
    align-items: start;
  }

  .email{
    text-align: right;
  }

  .copyright{
    display: block;
    margin: 25px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }
}