$color_header: rgba(30, 42, 57, 1);
$color_text: rgba(46, 46, 46, 1);
$color_icon: rgba(5, 42, 68, 1);

.hero {
    max-width: 1240px;
    margin: 30px auto;
    // padding-left: 30px;
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 80%;
        max-width: 1240px;
        min-height: 175px;
        background-color: rgba(232, 219, 132, 1);
        border-radius: 9px;
        margin-bottom: 65px;
        margin-left: 30px;
    }
    &__img-girl {
            position: absolute;
            bottom: 0;
            right: 0;
    }
    &__article-box {
        position: absolute;
        left: -30px;
    }
    &__article {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 65px;
        height: 50px;
        background-color: white;
        border-radius: 6px;
        border: 1px solid;
        z-index: 2;
        margin: 3px 0;
        cursor: pointer;
    }
    &__header {
        color: $color_header;
        font-family: Avenir LT Std;
        font-weight: 700;
        font-size: 5%;
        line-height: 5.91px;
        letter-spacing: -1%;
    }
    &__text {
        font-family: Avenir LT Std;
        font-weight: 350;
        font-style: 45 Book;
        font-size: 5%;
        color: $color_text;
    }
    &__icon {
        width: 22px;
        height: 22px;
        color: white;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 55px;
        // max-width: 1160px;
        // margin: 0 auto;
        // padding-right: 30px;
    }
    &__about {
        font-family: Poppins;
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 0.2px;
        text-align: center;
        color: rgba(24, 59, 86, 1);
        margin-bottom: 30px;
        // padding-bottom: 10px;
    }
    &__about-text {
        font-family: Open Sans;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;
        line-height: 28px;
    }
    &__article-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        gap: 10px;
        position: relative;
        min-width: 265px;
        height: 245px;
        text-align: center;
        border-radius: 12px;
        box-shadow: 1.42px 2.85px 27.04px 0px rgba(0, 0, 0, 0.08);
        margin: 30px 0;
    }
    &__article-icon {
        position: absolute;
        top: -25px;
        right: 50%;
        transform: translateX(50%);
        border-radius: 50%;
        display: inline-block;
        background-color: black;
        width: 50px;
        height: 50px;
        padding: 12px;
        background-image: url(../images/file-invoice.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    &__article-title{
        font-family: Plus Jakarta Sans;
        font-weight: 600;
        font-size: 18px;
    }
    &__article-text{
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: rgba(7, 18, 16, 1);
        
    }
    &__btn {
        width: 105px;
        height: 37px;
        border-radius: 8px;
        padding: 10px;
        color: white;
        background-color: $color_icon;
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
}