$color_header: rgba(30, 42, 57, 1);
$color_text: rgba(46, 46, 46, 1);
$color_icon: rgba(5, 42, 68, 1);

.hero {
    max-width: 1240px;
    margin: 30px auto 65px auto;
    padding-left: 40px;
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 1240px;
        min-height: 175px;
        background-color: rgba(232, 219, 132, 1);
        border-radius: 9px;
    }
    &__img-girl {
            position: absolute;
            bottom: 0;
            right: 0;
    }
    &__article-box {
        position: absolute;
        left: -30px;
    }
    &__article {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 65px;
        height: 50px;
        background-color: white;
        border-radius: 6px;
        border: 1px solid;
        z-index: 2;
        margin: 3px 0;
        cursor: pointer;
    }
    &__header {
        color: $color_header;
        font-family: Avenir LT Std;
        font-weight: 700;
        font-size: 5%;
        line-height: 5.91px;
        letter-spacing: -1%;
    }
    &__text {
        font-family: Avenir LT Std;
        font-weight: 350;
        font-style: 45 Book;
        font-size: 5%;
        color: $color_text;
    }
    &__icon {
        width: 22px;
        height: 22px;
        color: white;
    }
}