$headers_colors: rgba(24, 58, 86, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    padding: 25px;
    min-width: 320px;
}
.header {
    position: relative;
    width: 100%;
    text-align: center;

    .nav_bar {
        height: 64px;
        
        .logo {
            display: flex;
            justify-content: space-between;
        }
    }

    .header_title {
        margin-bottom: 15px;
        color: $headers_colors;
    }
    .header_text {
        line-height: 28px;
    }
}

// start burger-menu 
.nav_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .menu_button {
        height: 22px;
        cursor: pointer;
        .burger-line {
            width: 22px;
            background-color: rgba(58, 76, 102, 1);
            height: 2px;
            transition: .3s all;
                &.burger-line:nth-of-type(2) {
                    margin: 5px 0;
                }
        }
    }
    .main-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        font-size: 0;
        overflow: hidden;
        transition: .3s all;
        max-height: 0;
        background-color: white;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 20%;
        .menu_button {
            display: flex;
            justify-content: center;
            font-family: sans-serif;
            font-weight: 400;
            font-size: 16px;
            margin: 17.5px 0;
            color: black;
        }
        .Free_Trial {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: black;
            width: 153px;
            height: 54px;
            color: white;
        }

    }
}

#check-menu:checked ~ .menu_button .burger-line:nth-of-type(2){
    display: none;
}

#check-menu:checked ~ .menu_button .burger-line:nth-of-type(1) {
    position: relative;
    transform: rotate(45deg);
    top: 7px;
}
#check-menu:checked ~ .menu_button .burger-line:nth-of-type(3) {
    transform: rotate(-45deg);
    position: relative;
    top: 5px;
}
#check-menu:checked ~ .main-menu {
    max-height: 100vh;
    font-size: 16px;
}
// end burger-menu


.header_btn_play-icon_learn-more {
    height: 38px;
    display: flex;
    justify-content: space-between;
    // align-self: center;
    align-items: center;
    .header_btn {
        padding: 8px 12px;
        background-color: black;
        color: white;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
    }
    .play_icon {
        display: inline-block;
        // border: solid;
        // padding: 6px;
        width: 25px;
        border-radius: 50%;
        background-color: rgb(250, 250, 250);
    }
    .learn_more {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        color: black;
    }
}

