$headers_colors: rgba(24, 59, 86, 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    padding: 25px;
    min-width: 320px;
    font-family: sans-serif;
}
.header {
    position: relative;
    width: 100%;
    text-align: center;

    .nav_bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 64px;
        .nav_box {
            .desktop {
                display: none;
            }
            .sign_free_trial {
                display: none;
            }
        }
    }

    .header_title {
        margin-bottom: 15px;
        color: $headers_colors;
        font-size: 32px;
        font-weight: 400;
    }
    .header_text {
        line-height: 28px;
    }
}


// start burger-menu 
.nav_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .menu_button {
        height: 22px;
        cursor: pointer;
        .burger-line {
            width: 22px;
            background-color: rgba(58, 76, 102, 1);
            height: 2px;
            transition: .3s all;
                &.burger-line:nth-of-type(2) {
                    margin: 5px 0;
                }
        }
    }
    .main-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        font-size: 0;
        overflow: hidden;
        transition: .3s all;
        max-height: 0;
        background-color: white;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 20%;
        z-index: 1;
        .menu_button {
            display: flex;
            justify-content: center;
            font-family: sans-serif;
            font-weight: 400;
            font-size: 16px;
            margin: 17.5px 0;
            color: black;
        }
        .Free_Trial {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: black;
            width: 153px;
            height: 54px;
            color: white;
        }
    }
}

#check-menu:checked ~ .menu_button .burger-line:nth-of-type(2){
    display: none;
}

#check-menu:checked ~ .menu_button .burger-line:nth-of-type(1) {
    position: relative;
    transform: rotate(45deg);
    top: 7px;
}
#check-menu:checked ~ .menu_button .burger-line:nth-of-type(3) {
    transform: rotate(-45deg);
    position: relative;
    top: 5px;
}
#check-menu:checked ~ .main-menu {
    max-height: 100vh;
    font-size: 16px;
}
// end burger-menu


.header_btn_play-icon_learn-more {
    margin-top: 20px;
    height: 38px;
    width: 255px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .header_btn {
        width: 105px;
        height: 37px;
        padding: 8px 12px;
        background-color: rgba(5, 42, 68, 1);
        line-height: 22px;
        color: white;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
    }
    .box_learn_more {
        display: flex;
        justify-content: space-between;
        gap: 7px;
        align-items: center;
        width: 112px;
        height: 36px;
        cursor: pointer;
        .play_icon {
            position: relative;
            width: 0;
            height: 0;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 15px solid rgba(5, 42, 68, 1);
            &:before {
                content: "";
                width: 36px;
                height: 36px;
                position: absolute;
                z-index: -1;
                top: -17px;
                right: -7px;
                border-radius: 50%;
                background-color: rgb(255, 245, 245);
            }
        }
        .learn_more {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: black;
        }
    }
}

@media screen and (min-width: 1080px) {
    .header {

        .nav_bar {
            padding: 16px 24px;
            display: flex;
            justify-content: space-between;
            background-color: rgba(5, 42, 68, 1);
            border-radius: 12px;
            width: 100%;
            height: 90px;
            .logo_ehya, .them_btn_night {
                display: none;
            }

                .nav_box {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .desktop {
                        display: inline-block;
                        // width: 160px;
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .sign_free_trial {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 40px;
                        // width: 350px;
                        .btn_sign {
                            display: inline-block;
                            width: 55px;
                            color: white;
                            // background-color: aqua;
                        }
                        .Free_Trial {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 160px;
                            height: 54px;
                            background-color: white;
                            color: black;
                            border-radius: 8px;
                            font-size: 16px;
                            font-weight: 600;
                            // display: none;
                        }
                    }
                    .menu_button {
                        color: white;
                        transform: none;
                        .burger-line {
                            display: none;
                        }
                    }
                    .main-menu {
                        position: static;
                        display: flex;
                        flex-direction: row;
                        transition: none;
                        gap: 35px;
                        width: 420px;
                        max-height: 90px;
                        font-size: 16px;
                        // color: rgb(203, 31, 31);
                        background-color: rgba(5, 42, 68, 1);
                        .nav_li_right {
                            display: none;
                        }

                    }

                
            }

        }
    }
}
    // .nav_bar {
    //     border: 1px solid red;
    //     .desktop {
    //         display: inline-block;
    //         color: rgb(123, 22, 22);
    //         font-size: 25px;
    //     }
    //     .them_btn_night, .logo_ehya {
    //         display: none;
    //     }
    //     .them_btn_light {
    //         color: white;
    //         background-color: rgb(26, 186, 111);
    //         border: solid red;
    //     }
    //     position: relative;
    //     height: 86px;
    //     .menu_button {
    //         display: none;
    //     }
        // .main-menu {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        //     gap: 35px;
        //     border: solid green;
        //     max-height: 100%;
        //     font-size: 36px;
        //     transition: none;
        //     background-color: rgba(5, 42, 68, 1);
        //     border-radius: 12px;
            
        //     .menu_button {
        //         font-size: 16px;
        //         color: white;
        //     }
        // }
